<div class="tw-flex tw-justify-center">
    <article class="tw-prose md:tw-w-3/4">

        <h1 class="text-red">Impressum der Apostolischen Gemeinde Voerde</h1>
    
        <h2 class="tw-text-lg tw-font-semibold tw-mb-2">Angaben gem. § 5 TMG:</h2>
    
        <div class="tw-pl-4">
            <div class="tw-flex tw-items-center tw--mb-10 tw--mt-4">
                <img src="assets/group.png" width="20px">
                <span class="tw-px-2">Gemeindeteam Voerde</span>
            </div>
            <div class="tw-flex tw-items-center tw--mb-10">
                <img src="assets/building.png" width="20px">
                <span class="tw-px-2">Hövelmannskath 1</span>
            </div>
            <div class="tw-flex tw-items-center tw--mb-8">
                <img src="assets/location.png" width="20px">
                <span class="tw-px-2">46562 Voerde</span>
            </div>
        </div>
        <h2 class="text-red">Kontakt:</h2>
        <div class="tw-pl-4">
            <p>Telefon: +49 171 6813142<br>
                E-Mail: voerde@apostolisch.de
            </p>
        </div>
        <h2 class="text-red">Vertretungsberechtigte Mitglieder des Gemeindeteams:</h2>
        <div class="tw-pl-4">
            <ol class="tw-list-decimal tw-pl-4">
                <li>[Name und Funktion einfügen]</li>
                <li>[Name und Funktion einfügen]</li>
            </ol>
        </div>
    
        <h2 class="text-red">Inhaltlich verantwortlich gemäß § 55 Abs. 2 RStV:</h2>
        <div class="tw-pl-4">
            <p>Apostolische Gemeinschaft e.V.<br>
                Cantadorstr. 11<br>
                40211 Düsseldorf</p>
        </div>
    
        <h2 class="text-red">Haftungshinweis:</h2>
        <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.
            Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
    
        <h2 class="text-red">Urheberrechtshinweis:</h2>
        <p>Die auf dieser Website verwendeten Texte, Bilder und Grafiken unterliegen dem deutschen Urheberrecht.
            Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des
            Urheberrechts
            bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.</p>
    </article>
</div>
