<p>Impressum der Apostolischen Gemeinde Voerde</p>
<p>Angaben gem. § 5 TMG:</p>
<div style="display: flex;">
    <img src="/assets/group.png" alt="X " style="height: 17px; margin-top: 5px; margin-right: 5px;">
    <p>Gemeindeteam Voerde</p>
</div>
<div style="display: flex;">
    <img src="/assets/church.png" alt="X " style="height: 17px; margin-top: 5px; margin-right: 5px;">
<p>Hövelmannskath 1</p>
</div>
<div style="display: flex;">
    <img src="/assets/building.png" alt="X " style="height: 17px; margin-top: 5px; margin-right: 5px;">

<p>46562 Voerde</p>
</div>