<div class="tw-flex tw-flex-col tw-items-center tw-justify-evenly tw-w-screen tw-text-center">
  <article class="tw-prose tw-pb-4 lg:tw-pb-8">
    <h1 class="text-red tw-my-8">Willkommen auf unserer Seite</h1>
    <p class="tw-text-justify  tw-w-5/6 lg:tw-px-0 tw-mx-auto">Wir freuen uns, dass Sie den Weg zu uns gefunden haben. Als Gemeinde sind wir seit Dezember 1982 ein Ort der Begegnung, des Glaubens und der Gemeinschaft. Erfahren Sie hier mehr über uns und was unsere Gemeinde ausmacht.</p>
  </article>

<ngb-carousel class="tw-w-5/6 xl:tw-w-1/2">
  <ng-template ngbSlide>
    <img src="assets/WLHN3241.JPG" alt="Slide 1" class="w-full tw-rounded-2xl" />
    <div class="carousel-caption">
      <p>Gottesdienstsaal</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/JFLB5996.JPG" alt="Slide 2" class="w-full tw-rounded-2xl" />
    <div class="carousel-caption">
      <p>Altar</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/FSSN7402.JPG" alt="Slide 3" class="w-full tw-rounded-2xl" />
    <div class="carousel-caption">
      <p>Aufenthaltsraum</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/XPTL4444.JPG" alt="Slide 4" class="w-full tw-rounded-2xl" />
    <div class="carousel-caption">
      <p>Gemeindeheim Außenansicht</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/LQEN5414.JPG" alt="Slide 5" class="w-full tw-rounded-2xl" />
    <div class="carousel-caption">
      <p>Gemeindeheim Außenansicht</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/PNQE4846.JPG" alt="Slide 6" class="w-full tw-rounded-2xl" />
    <div class="carousel-caption">
      <p>Gemeindeheim Straßenansicht</p>
    </div>
  </ng-template>
</ngb-carousel>


</div>


