<div class="flex flex-col items-center justify-center">
  <article class="prose">
    <h1 class="text-red">Willkommen auf unserer Seite</h1>
</article>

<div class="carousel carousel-center w-full h-[550px] my-8 mx-auto">
    <div id="slide1" class="carousel-item relative w-full flex justify-center">
      <img src="assets/WLHN3241.JPG" class="w-min" />
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide4" class="btn btn-circle bg-slate-200">❮</a> 
        <a href="#slide2" class="btn btn-circle bg-slate-200">❯</a>
      </div>
    </div> 
    <div id="slide2" class="carousel-item relative w-full flex justify-center">
      <img src="assets/JFLB5996.JPG" class="w-min" />
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide1" class="btn btn-circle bg-slate-200">❮</a> 
        <a href="#slide3" class="btn btn-circle bg-slate-200">❯</a>
      </div>
    </div> 
    <div id="slide3" class="carousel-item relative w-full flex justify-center">
      <img src="assets/FSSN7402.JPG" class="w-min" />
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide2" class="btn btn-circle bg-slate-200">❮</a> 
        <a href="#slide4" class="btn btn-circle bg-slate-200">❯</a>
      </div>
    </div>
    <div id="slide4" class="carousel-item relative w-full flex justify-center">
      <img src="assets/XPTL4444.JPG" class="w-min" />
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide3" class="btn btn-circle bg-slate-200">❮</a> 
        <a href="#slide5" class="btn btn-circle bg-slate-200">❯</a>
      </div>
    </div> 
    <div id="slide5" class="carousel-item relative w-full flex justify-center">
      <img src="assets/LQEN5414.JPG" class="w-min" />
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide4" class="btn btn-circle bg-slate-200">❮</a> 
        <a href="#slide6" class="btn btn-circle bg-slate-200">❯</a>
      </div>
    </div> 
    <div id="slide6" class="carousel-item relative w-full flex justify-center">
      <img src="assets/PNQE4846.JPG" class="w-min" />
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide5" class="btn btn-circle bg-slate-200">❮</a> 
        <a href="#slide1" class="btn btn-circle bg-slate-200">❯</a>
      </div>
    </div> 
  </div>
</div>


