<div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-w-screen">
  <article class="tw-prose">
    <h1 class="tw-text-red tw-my-8">Willkommen auf unserer Seite</h1>
  </article>

<ngb-carousel class="tw-w-5/6 lg:tw-w-1/2">
  <ng-template ngbSlide>
    <img src="assets/WLHN3241.JPG" alt="Slide 1" class="w-full tw-rounded-2xl" />
    <div class="carousel-caption">
      <p>Placeholder</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/JFLB5996.JPG" alt="Slide 2" class="w-full tw-rounded-2xl" />
    <div class="carousel-caption">
      <p>Placeholder</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/FSSN7402.JPG" alt="Slide 3" class="w-full tw-rounded-2xl" />
    <div class="carousel-caption">
      <p>Placeholder</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/XPTL4444.JPG" alt="Slide 4" class="w-full tw-rounded-2xl" />
    <div class="carousel-caption">
      <p>Gemeindeheim Außenansicht</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/LQEN5414.JPG" alt="Slide 5" class="w-full tw-rounded-2xl" />
    <div class="carousel-caption">
      <p>Gemeindeheim Außenansicht 2</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/PNQE4846.JPG" alt="Slide 6" class="w-full tw-rounded-2xl" />
    <div class="carousel-caption">
      <p>Gemeindeheim Straßenansicht</p>
    </div>
  </ng-template>
</ngb-carousel>


</div>


