<div class="tw-flex tw-justify-center tw-items-center">
    <article class="tw-prose md:tw-w-3/4 tw-mx-4 md:tw-mx-0">
        <h1 class="tw-text-red-800 dark:tw-text-slate-200">
            Projekte und Sonstiges</h1>
        <p>Neben den Gottesdienstveranstaltungen trifft sich die Gemeinde in den Räumlichkeiten des Untergeschosses zum
            Brunch, Kaffee und Diskussionen. In denselben Räumlichkeiten werden außerdem die Kinder der Gemeinde Voerde
            betreut.</p>
        <h2 class="tw-my-4 tw-text-red-800 dark:tw-text-slate-200">
            Projekte</h2>
        <p>In unserer Gemeinde werden außerdem noch folgende Projekte gepflegt und angeboten</p>
        <h4 class="tw-my-4 tw-text-red-800 dark:tw-text-slate-200">
            Musical-Gruppe</h4>
        <p>Ein lebendiges und belebendes Element ist die seit Jahren bestehende Musical-Gruppe, die unter der Leitung
            von Susanne Zimmer Musicals arrangiert und zur Aufführung bringt. Hier sind Sängerinnen und Sänger
            überkonfessionell beteiligt, die mit sehr viel Engagement und Freude Musicals mit biblischem Hintergrund
            ihren Zuhörern begeistern.
        </p>
        <h4 class="tw-my-4 tw-text-red-800 dark:tw-text-slate-200">
            Seniorenbetreuung</h4>
        <p>Auch in unserer Kirche nimmt die Zahl der Senioren/innen zu. Eine gute Betreuung und altersgerechte Angebote
            durch ehrenamtliche Mitarbeiter/innen ist uns wichtig. Diese Angebote werden in unseren kirchlichen
            Räumlichkeiten ebenso wie in den unterschiedlichen Seniorenheimen unterbreitet. Sie sind zunehmend ein
            wichtiger Baustein unseres Gemeindelebens.</p>
        <h4 class="tw-my-4 tw-text-red-800 dark:tw-text-slate-200">
            Finanzierung</h4>
        <p>Die apostolische Gemeinde finanziert sich aus Spenden ihrer Mitglieder. Die Erhaltung von Grundstück und
            Gebäuden erfolgt zu großen Teilen ehrenamtlich.</p>
        <h4 class="tw-my-4 tw-text-red-800 dark:tw-text-slate-200">
            Zusammenarbeit mit der Kommune</h4>
        <p>Ein für uns wichtiger Baustein im gemeindlichen Leben nimmt die Ökumene ein. So dürfen wir seit dem 1.
            Voerder Kirchentag Partner der beiden großen Kirchen sein. Im Rahmen unserer Möglichkeiten gestalten wir das
            ökumenische Leben in Voerde mit. Der gemeinsame Gottesdienst am 2. Pfingsttag gehört ebenso dazu wie
            Veranstaltungen im Advent. Gemeinsamkeiten zu entdecken und über Unterschiede zu sprechen, ist eine
            wertvolle Erfahrung.</p>
        <h4 class="tw-my-4 tw-text-red-800 dark:tw-text-slate-200">
            Kinder in Voerde</h4>
        <p>Neben den bereits erwähnten Kindergottesdiensten bieten wir interessierten Kindern auch Kinderfreizeiten
            überörtlich an. Wir schauen auch über unseren eigenen Tellerrand und unterstützen das Projekt "Kinder in
            Voerde" regelmäßig finanziell und durch persönliche handwerkliche Einsätze.</p>
        <h4 class="tw-my-4 tw-text-red-800 dark:tw-text-slate-200">
            Interesse geweckt?</h4>
        <p>Falls wir Ihr Interesse geweckt haben und Sie noch Fragen haben, sprechen Sie uns an. Entweder telefonisch,
            schriftlich oder persönlich in unserem Haus. <a routerLink="kontakt" class="tw-no-underline hover:underline-animation">Hier kommen Sie zu unseren Kontaktdaten.</a></p>

    </article>
</div>
