<article class="prose">
    <h1 style="color: #9b1313; margin-top: 10px">
        Projekte und Sonstiges</h1>
    <p>Neben den Gottesdienst-Veranstaltungen trifft sich die gemeinde in den Räumlichkeiten des Untergeschosses zum
        Bruch,
        Kaffee, Diskusionen. In den selben Räumlichkeiten werden außerdem die Kinder der Gemeinde Voerde betreut.</p>
    <h2 style="color: #9b1313;" class="my-4">
        Projekte</h2>
    <p>In unserer Gemeinde werden außerdem noch folgende Projekte gepflegt und angeboten</p>
    <h4 style="color: #9b1313;" class="my-4">
        Musical-Gruppe</h4>
    <p>Projekte welche überkonfessionell wie die Musical-Gruppe unserer Gemeinde gehören ebenfalls zu unseren
        Aktivitäten
    </p>
    <h4 style="color: #9b1313;" class="my-4">
        Seniorenbetreuung</h4>
    <p>Wir bieten außerdem eine Seniorenbetreuung durch unsere Mitarbeiter an, was einen weiteren Baustein unseres
        Gemeindelebens bildet.</p>
    <h4 style="color: #9b1313;" class="my-4">
        Finanzierung</h4>
    <p>Die apostolische Gemeinde finanziert sich aus Spenden seiner Mitglieder. Die Erhaltung von Grundstück und
        Gebäuden
        erfolgt zu großen Teilen Ehrenamtlich.</p>
    <h4 style="color: #9b1313;" class="my-4">
        Zusammenarbeit mit der Kommune</h4>
    <p>Ein ganz wichtiger Baustein des gemeinschaftlichen Lebens nimmt inzwischen die ?!?!?ÖKUME?!?! So Freuen wir uns
        über
        regelmäßigen und regen Austausch und gemeinsamen Aktivitäten mit den evangelischen und Katholischen
        Glaubensgeschwistern in Voerde. Die Apostolische Gemeinschaft arbeitet überregional inder Arbeitsgemeinschaft
        Christlicher Kirchen (ACK) und VEF mit.</p>
    <h4 style="color: #9b1313;" class="my-4">
        Kinder in Voerde</h4>
    <p>Die finanzielle und vor allem persönliche Unterstützung der Initiative "Kinder in Voerde" ist uns ein wichtiges
        Anliegen.</p>
    <h4 style="color: #9b1313;" class="my-4">
        Interesse geweckt?</h4>
    <p>Falls wir Ihr Interesse geweckt und Sie weitere Fragen haben, zögern sie nicht uns zu kontaktieren.</p>

</article>