<div class="flex flex-col flex-wrap">
  <div class="flex items-center justify-between h-20 px-8 shadow-md rounded bg-slate-200" id="headerContainer">
    <div class="flex text-left justify-start">
      <a routerLink="/"><img class="" src="assets/logo-rand.png" width="55px" height="55px" alt="Logo"></a>
    </div>
    <div class="hidden md:flex text-right justify-end font-semibold">
      <a routerLink="/ueber-uns"
        [ngClass]="activeRoute === 'ueber-uns' ? 'px-4 hover:underline-current text-red-800' : 'px-4 hover:underline-animation'">Über
        uns</a>
      <a [routerLink]="['/aktuelles']"
        [ngClass]="activeRoute === 'aktuelles' ? 'px-4 hover:underline-current text-red-800' : 'px-4 hover:underline-animation'">Aktuelles</a>
      <a routerLink="/projekte"
        [ngClass]="activeRoute === 'projekte' ? 'px-4 hover:underline-current text-red-800' : 'px-4 hover:underline-animation'">Projekte</a>
      <a routerLink="/kirchenleitung"
        [ngClass]="activeRoute === 'kirchenleitung' ? 'px-4 hover:underline-current text-red-800' : 'px-4 hover:underline-animation'">Kirchenleitung</a>
    </div>


    <div class="block md:hidden p-2" id="navBarToggle">
      <div class="w-7 h-1 bg-gray-700 rounded" id="line-1"></div>
      <div class="w-7 h-1 bg-gray-700 rounded mt-1" id="line-2"></div>
      <div class="w-4 h-1 bg-gray-700 rounded mt-1" id="line-3"></div>
    </div>
    <div class="hidden md-hidden" id="navBarClose">
      <div class="w-7 h-1 bg-gray-700 rounded rotate-45"></div>
      <div class="w-7 h-1 bg-gray-700 rounded -rotate-45 relative bottom-1"></div>
    </div>



    <div id="mobileNavBox" class="hidden md:hidden">
      <ul class="menu bg-slate-200 w-56 rounded-box shadow-md" id="menuList">
        <li [ngClass]="activeRoute === 'ueber-uns' ? 'hover:underline-menu-current' : 'hover:underline-menu'"><a routerLink="/ueber-uns">Über uns</a></li>
        <li [ngClass]="activeRoute === 'aktuelles' ? 'hover:underline-menu-current' : 'hover:underline-menu'"><a [routerLink]="['/aktuelles']">Aktuelles</a></li>
        <li [ngClass]="activeRoute === 'projekte' ? 'hover:underline-menu-current' : 'hover:underline-menu'"><a routerLink="/projekte">Projekte</a></li>
        <li [ngClass]="activeRoute === 'kirchenleitung' ? 'hover:underline-menu-current' : 'hover:underline-menu'"><a routerLink="/kirchenleitung">Kirchenleitung</a></li>
      </ul>
    </div>
  </div>