<div class="tw-flex tw-flex-col min-vh-100">
  <div class="tw-flex-none tw-container tw-mx-auto">
    <app-header></app-header>
  </div>
  
  <div class="container-sm tw-my-8 tw-flex-grow" id="content">
    <div class="tw-flex tw-justify-center tw-items-center tw-h-100">
      <router-outlet></router-outlet>
    </div>
  </div>
  
  <div class="tw-items-end tw-mt-auto tw-h-17" id="footer"> 
    <app-footer></app-footer>
  </div>
</div>
<!-- main background gradient -->
<!-- bg-gradient-to-r from-gray-100 to-gray-200 -->
<!-- 
  <div class="tw-flex tw-flex-col tw-h-screen">
  <div class="tw-flex-none tw-container tw-mx-auto">
    <app-header></app-header>
  </div>
  
  <div class="tw-flex tw-items-start tw-justify-center tw-mb-auto tw-px-5 tw-py-16 tw-w-full" id="content">
    <router-outlet></router-outlet>
  </div>
  
  <div class="tw-flex-none tw-h-17 tw-mt-5" id="footer"> 
    <app-footer></app-footer>
  </div>
</div> -->