<article class="prose">
    <h1 class="mt-3 text-red">
        <span class="bg-red-900 rounded-lg py-1 px-3 text-white">Über</span> uns</h1>
    <p>Die Geschichte der Konfession begann im 19. Jahrhundert mit geistlichen Erweckungsbewegungen in England
        und Schottland. Henry Drummond lud 1826 Geistliche und Laien zu einer Konferenz ein, die später als
        katholisch-apostolische Bewegung bekannt wurde. Es entstanden neue Gemeinden, die die Einheit der Kirche
        betonten.
        Nach dem Tod der ersten Apostel kam es zu Spaltungen, und verschiedene Gemeinschaften entstanden, darunter die
        "Neuapostolische Kirche" und die "Hersteld Apostolische Zendigkerk". Die Suche nach der alleinigen Macht des
        Stammapostelamtes führte zu weiteren Abspaltungen. Die Lehre der "Botschaft" spielte eine wichtige Rolle bei den
        Spaltungen in den 1950er Jahren.</p>
    <p> Für weitere Informationen besuchen Sie unsere Hauptwebseite der <a href="https://www.apostolisch.de/wer-sind-wir/geschichte.html"> Apostolischen Gemeinschaft</a></p>
    <h2 class="my-3 text-red">Allgemeine Informationen</h2>
    <p>Die Gemeinde Voerde entstand im Dezember 1982 durch Zusammenführung der beiden Ortsgemeinden Friedrichsfeld und
        Voerde, welche bis dahin ihre Gottesdienste jeweils in angemieteten Räumlichkeiten durchführten. Dazu war es
        notwendig ein eigenes Kirchengebäude zu errichten. Die ersten Aktivitäten begannen 1981. Fast ausschließlich
        durch
        Eigenleistung wurde das Krichengebäude am 19.11.1982 fertiggestellt und am 05.12.1982 in einem Festgottesdienst
        eingeweiht. im 80m² großen runden Gottesdienstraum ist Platz für circa 100 Personen. Im Untergeschoss befinden
        sich
        weitere Räume sowie eine Küche.</p>
    <p>Am 29.11.209 fusionierten die Gemeinde Wesel und Voerde zur Gemeinde Voerde. Beide Gemeinden haben diesen Schritt
        positiv unterstützt und fühlen sich gemeinsam sehr wohl. Der Gottesdienst wurd durch ein priesterliches Amt
        durchgeführt. Ergänzend zum Gottesdienst ist das bibelwort aus dem evangelisch, liturgischen Kalender. Zum
        Sontagsgottesdienst finden Andachten statt, welche thermatisiert durch Gemeindemitglieder vorbereitet und
        druchgeführt
        werden. Zu diesen gehört auch die Feier des heiligen Abendmahls, wozu alle, die an den Opfertod Jesu Christi
        glauben, herzlich eingeladen sind. Der Gesang des gemischten Chores sowie der Gemeinde unterstreichen und
        ergänzen
        die Wortauslegung.
        Zusätzlich zu den nebenstehenden festen Terminen besteht an jedem 1. Sonntag im Monat nach dem Gottesdienst die
        Möglichkeit beim Brunch, sich über das gehörte Bibelwort oder andere Dinge auszutauschen und damit Gemeinschaft
        zu
        pflegen.</p>
</article>