<footer class="tw-footer tw-footer-center tw-p-10 tw-bg-base-200 tw-text-base-content tw-rounded">
    <div class="tw-grid tw-grid-flow-col tw-gap-4">
        <a routerLink="/datenschutz" [ngClass]="activeRoute === 'datenschutz' ? 'tw-mx-2 tw-no-underline tw-font-medium hover:underline-current' : 'tw-mx-2 tw-no-underline tw-font-medium hover:underline-animation'">Datenschutzerklärung</a>
        <a routerLink="/kontakt" [ngClass]="activeRoute === 'kontakt' ? 'tw-mx-2 tw-no-underline tw-font-medium hover:underline-current' : 'tw-mx-2 tw-no-underline tw-font-medium hover:underline-animation'">Kontakt</a>
        <a routerLink="/impressum" [ngClass]="activeRoute === 'impressum' ? 'tw-mx-2 tw-no-underline tw-font-medium hover:underline-current' : 'tw-mx-2 tw-no-underline tw-font-medium hover:underline-animation'">Impressum</a>
    </div> 

    <div>
      <p>© {{aktuellesJahr}} Apostolische Gemeinde Voerde. Alle Rechte vorbehalten.</p>
    </div>
  </footer>

<!-- bg-gradient-to-r from-blue-200 via-blue-300 to-blue-400 bg-opacity-50 -->