<hr class="h-px my-8">
<article class="prose mx-auto my-8">
    <div id="footerContainer" class=" w-full h-14 px-8 flex items-center justify-evenly text-slate-500">
        <a routerLink="/datenschutz" class="mx-2 no-underline font-medium">Datenschutzerklärung</a>
        <a routerLink="/kontakt" class="mx-2 no-underline font-medium">Kontakt</a>
        <a routerLink="/impressum" class="mx-2 no-underline font-medium">Impressum</a>

    </div>
    <div class="text-center text-slate-500 font-light">
        <span class="">© 2023 Apostolische Gemeinde Voerde. Alle Rechte vorbehalten.</span>
    </div>
</article>


<!-- bg-gradient-to-r from-blue-200 via-blue-300 to-blue-400 bg-opacity-50 -->