<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
    <div class="grid grid-flow-col gap-4">
        <a routerLink="/datenschutz" class="mx-2 no-underline font-medium hover:underline-animation">Datenschutzerklärung</a>
        <a routerLink="/kontakt" class="mx-2 no-underline font-medium hover:underline-animation">Kontakt</a>
        <a routerLink="/impressum" class="mx-2 no-underline font-medium hover:underline-animation">Impressum</a>
    </div> 

    <div>
      <p>© {{aktuellesJahr}} Apostolische Gemeinde Voerde. Alle Rechte vorbehalten.</p>
    </div>
  </footer>

<!-- bg-gradient-to-r from-blue-200 via-blue-300 to-blue-400 bg-opacity-50 -->