<div class="">
    <article class="prose">
        <h1 class="mt-4 text-red">Datenschutzerklärung</h1>
        <h2 class="my-4 text-red">Anbieter und verantwortliche Stelle im Sinne des Datenschutzgesetzes</h2>
        <p>
            <span>Apostolische Gemeinde e. V.</span><br>
            <span>Hövelmannskath 1</span><br>
            <span>46562 Voerde</span>
        </p>
        <h2 class="my-4 text-red">Geltungsbereich</h2>
        <p>Nutzer erhalten mit dieser Datenschutzerklärung Information über die Art, den Umfang und Zweck der Erhebung und
            Verwendung ihrer Daten durch den verantwortlichen Anbieter erhoben und verwendet werden.
            Den rechtlichen Rahmen für den Datenschutz bilden das Bundesdatenschutzgesetz (BDSG) und das Telemediengesetz (TMG).
        </p>
        
        <h2 class="my-4 text-red">Erfassung allgemeiner Informationen</h2>
        <div>Mit jedem Zugriff auf dieses Angebot werden durch uns bzw. den Web-Provider automatisch Informationen erfasst.
            Diese Informationen, auch als Server-Logfiles bezeichnet, sind allgemeiner Natur und erlauben keine Rückschlüsse auf
            Ihre Person.
            <p>Erfasst werden unter anderem:</p>
        </div>
        <ul class="max-w-md space-y-1 list-disc list-inside dark:text-gray-400">
            <li>Name der Webseite,</li>
            <li>Datei,</li>
            <li>Datenmenge,</li>
            <li>Webbrowser und Webbrowser-Version,</li>
            <li>Betriebssystem,</li>
            <li>der Domainname Ihres Internet Providers,</li>
            <li>die sogenannte Referrer-URL,</li>
            <li>die IP-Adresse.</li>
        </ul>
        <p>Ohne diese Daten wäre es technisch teils nicht möglich, die Inhalte der Webseite auszuliefern und darzustellen.
            Insofern ist die Erfassung der Daten zwingend notwendig. Darüber hinaus verwenden wir die anonymen Informationen für
            statistische Zwecke. Sie helfen uns bei der Optimierung des Angebots und der Technik. Wir behalten uns zudem das
            Recht vor, die Log-Files bei Verdacht auf eine rechtswidrige Nutzung unseres Angebotes nachträglich zu
            kontrollieren.</p>
        <h2 class="my-4 text-red">Datensparsamkeit</h2>
        <p>Personenbezogene Daten speichern wir gemäß den Grundsätzen der Datenvermeidung und Datensparsamkeit nur so lange, wie
            es erforderlich ist oder vom Gesetzgeber her vorgeschrieben wird (gesetzliche Speicherfrist). Entfällt der Zweck der
            erhobenen Informationen oder endet die Speicherfrist, sperren oder löschen wir die Daten.</p>
        <h2 class="my-4 text-red">Änderung unserer Datenschutzerklärung</h2>
        <p>Um zu gewährleisten, dass unsere Datenschutzerklärung stets den aktuellen gesetzlichen Vorgaben entspricht, behalten
            wir uns jederzeit Änderungen vor. Das gilt auch für den Fall, dass die Datenschutzerklärung aufgrund neuer oder
            überarbeiteter Leistungen, zum Beispiel neuer Serviceleistungen, angepasst werden muss. Die neue
            Datenschutzerklärung greift dann bei Ihrem nächsten Besuch auf unserem Angebot.</p>
    </article>
</div>